<div class="comment-indent">
  <p><%= comment.text %></p>
  <p class="details">by <%= comment.author.username %> at <%= moment(comment.createdAt).format("YYYY-MM-DD HH:MM") %>
    <a href="/s/<%= sub %>/posts/<%= post._id %>/comments/<%= comment._id %>/replies/new">
      Reply
    </a>
    <a href="/s/<%= sub %>/posts/<%= post._id%>/comments/<%= comment._id%>/edit">
      Edit
    </a>
  </p>

  <% if(comment.comments){ %>
    <% comment.comments.forEach(function(reply){ %>
      <%- include('comment', {comment: reply}) %>
    <% }); %>
  <% } %>
</div>
