<% include partials/header %>
<div>
	<div>
		<ul>
			<% subs.forEach(function(sub){ %>
				<li><a href="/subs/<%= sub._id %>"><%= sub.name %></a></li>
			<% }) %>
		</ul>
	</div>
	<div>
		<% articles.forEach(function(article, i){ %>
			<li><%= i %>  - <a href="/subs/<%= article.sub.id %>/articles/<%= article._id %>"><%= article.title %></a></li>
		<% }) %>
	</div>
</div>

<% include partials/footer  %>
