<% include ../partials/header %>
<h1>EDIT <%= article.title %> </h1>
  <form action="/s/<%= sub._id %>/articles/<%= article._id %>?_method=PUT" method="POST">
    <div class="form-group">
      <label for="article[title]">Title</label>
      <input class="form-control" type="text" name="article[title]" value="<%= article.title %>">
    </div>
    <div class="form-group">
      <label for="article[text]">Text</label>
      <input class="form-control" type="textarea" name="article[text]" value="<%= article.text %>">
    </div>
    <div class="form-group article-input">
      <input class="btn btn-primary" type="submit" name="Submit" value="Update">
    </div>
  </form>

<% include ../partials/footer %>
