<% include ../partials/header %>
<div>
  <!-- Article -->
  <div class="jumbotron text-dark" style="margin-top: 10px;">
    <h3><%= article.title %></h3>
    <%= article.text %>
  </div>

  <!-- Comments-Section -->
  <div class="comment-section">
    <!-- Comments list -->
    <h2>Comments:</h2>
      <% article.comments.forEach(function(comment){ %>
        <div class="card text-dark">
          <div class="card-body"><%= comment.text %><br>
            by <%= comment.author.username %>
          </div>
        </div>
      <% }) %>

    <!-- Comment Form -->
    <% if(currentUser){ %>
    <form action="/s/<%= sub %>/articles/<%= article._id %>/comments/" method="post">
      <div class="form-row">
        <div class="form-group col-md-6">
          <input class="form-control" type="text" name="comment[text]" placeholder="Enter Your Comment Here">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-3">
          <input class="form-control" type="submit" name="submit" value="Submit">
        </div>
      </div>

    </form>
    <% } %>
  </div>
</div>
<% include ../partials/footer %>
