<% include ../partials/header %>
<div>
  <!-- Article -->
  <div class="jumbotron">
    <h3><%= article.title %></h3>
    <p class="username">by <%= article.author.username %> at <%= article.time %></p>
    <p><%= article.text %></p>
  </div>

  <!-- Comments-Section -->
  <div class="comment-section">
    <!-- Comments list -->
    <h2>Comments:</h2>
      <% article.comments.forEach(function(comment){ %>
        <div class="card">
          <div class="card-body"><%= comment.text %><br>
            by <%= comment.author.username %>
          </div>
        </div>
      <% }) %>

    <!-- Comment Form -->
    <% if(currentUser){ %>
    <form action="/subs/<%= sub %>/articles/<%= article._id %>/comments/" method="post">
      <div>
        <input type="text" name="comment[text]" placeholder="Enter Your Comment Here">
      </div>
      <div>
        <input type="submit" name="submit" value="Submit">
      </div>
    </form>
    <% } %>
  </div>
</div>
<% include ../partials/footer %>
