<%- include ../partials/header %>
<h1><%= sub.name %></h1>
<a href="/subs/<%= sub._id %>/articles/new">New article</a>
<ul>
  <% sub.articles.forEach(function(article){ %>
    <li><%= article.title %></li>
  <% }) %>
</ul>
<a href="/subs">Go Back</a>
<%- include ../partials/footer %>
