<%- include ../partials/header %>
<h1><%= sub.name %></h1>
<a href="/subs/<%= sub._id %>/articles/new">New article</a>
<ul>
  <% sub.articles.forEach(function(article){ %>
    <li><a href="/subs/<%= sub._id %>/articles/<%= article._id %>"><%= article.title %></a></li>
  <% }) %>
</ul>
<a href="/">Go Back</a>
<%- include ../partials/footer %>
