<%- include ../partials/header %>

  <div>
    <h3>
      /s/<%= sub.name %>
    </h3>
  <% if(currentUser){ %>
    <div>
        <a href="/s/<%= sub._id %>/posts/new">Submit a new text post</a>
    </div>
  <% } %>
  </div>

  <div class="post-list">
    <% sub.posts.forEach(function(post){ %>
      <div class="post-list-item">
        <a href="/s/<%= sub._id %>/posts/<%= post._id %>">
          <%= post.title %>
        </a>
        <span class="details">
          by <%= post.author.username %> at <%= moment(post.createdAt).format("YYYY-MM-DD HH:MM") %>
          has <%= post.comments_count %> comments
        </span>
        <% if(currentUser && post.author.id.equals(currentUser._id)) {%>
          <form class="push-right" action="/s/<%= sub._id %>/posts/<%= post._id %>?_method=DELETE" method="POST">
            <input class="button-as-text" type="submit" value="Delete" name="submit">
          </form>
          <a href="/s/<%= sub._id %>/posts/<%= post._id %>/edit">Edit</a>
        <% } %>
      </div>
    <% }) %>
  </div>

<%- include ../partials/footer %>
