<%- include ../partials/header %>
<h1><%= sub.name %></h1>
<% if(currentUser){ %>
<a class="btn btn-primary" href="/subs/<%= sub._id %>/articles/new">New article</a>
<% } %>
<ul>
  <% sub.articles.forEach(function(article){ %>
    <li><a href="/subs/<%= sub._id %>/articles/<%= article._id %>"><%= article.title %></a></li>
  <% }) %>
</ul>
<%- include ../partials/footer %>
