<%- include ../partials/header %>

  <div class="container">
    <h1><%= sub.name %></h1>
    <% if(currentUser){ %>
      <div class="new-article">
          <a class="btn btn-primary" href="/subs/<%= sub._id %>/articles/new">New article</a>
      </div>
    <% } %>
    <ul class="list-group">
      <% sub.articles.forEach(function(article){ %>
        <li class="list-group-item"><a href="/subs/<%= sub._id %>/articles/<%= article._id %>"><%= article.title %></a>
          <div class="float-right">
            <form action="/subs/<%= sub._id %>/articles/<%= article._id %>?_method=DELETE" method="POST">
              <button class="btn btn-sm btn-danger">Delete</button>
            </form>
          </div>
          <div class="float-right">
            <a href="/subs/<%= sub._id %>/articles/<%=article._id%>/edit"><button class="btn btn-sm btn-primary">Edit</button></a>
          </div>
        </li>
      <% }) %>
    </ul>
  </div>

<%- include ../partials/footer %>
