<%- include ../partials/header %>

  <div>
    <h3>
      /s/<%= sub.name %>
    </h3>
  <% if(currentUser){ %>
    <div>
        <a href="/s/<%= sub._id %>/posts/new">Submit a new text post</a>
    </div>
  <% } %>
  </div>

  <div class="post-list">
    <% sub.posts.forEach(function(post){ %>
      <div class="post-list-item">
          <div class="score-container">
            <form class="upvote"
              action="/s/<%= sub._id %>/posts/<%= post._id %>/upvote?_method=PUT" 
              method="POST" data-post-id="<%= post._id %>"
              data-sub-id="<%= sub._id%>">
              <button type="submit" class="arrow-up"></button>
            </form>
              <div class="score"><%= post.score %></div>
            <form class="downvote" action="/s/<%= sub._id %>/posts/<%= post._id %>/downvote?_method=PUT" 
              method="POST" data-id="<%= post._id %>"
              data-post-id="<%= post._id %>"
              data-sub-id="<%= sub._id%>">
                <button type="submit" class="arrow-down"></button>
            </form>
          </div>
          <a class="post-link" href="/s/<%= sub._id %>/posts/<%= post._id %>">
            <%= post.title %>
          </a>
          <% if(currentUser && post.author.id.equals(currentUser._id)) {%>
          <% } %>
      </div>
      <form class="delete-form" action="/s/<%= sub._id %>/posts/<%= post._id %>?_method=DELETE" method="POST">
        <span class="details">
          posted by <%= post.author.username %> 
          <%= moment(post.createdAt).fromNow() %>
          has <%= post.comments_count %> comments
            <input class="button-as-text" type="submit" value="Delete" name="submit">
            <a href="/s/<%= sub._id %>/posts/<%= post._id %>/edit">Edit</a>
        </span>
      </form>

      <hr>
    <% }) %>
  </div>

<%- include ../partials/footer %>
