<% include ../partials/header %>
<h1>EDIT <%= post.title %> </h1>
  <form action="/s/<%= sub._id %>/posts/<%= post._id %>?_method=PUT" method="POST">
    <div>
      <label for="post[title]">Title</label>
      <input type="text" name="post[title]" value="<%= post.title %>">
    </div>
    <div>
      <label for="post[text]">Text</label>
      <input type="textarea" name="post[text]" value="<%= post.text %>">
    </div>
    <div>
      <input type="submit" name="Submit" value="Update">
    </div>
  </form>

<% include ../partials/footer %>
