<% include ../partials/header %>
<h1>EDIT <%= post.title %> </h1>
  <form action="/s/<%= sub._id %>/posts/<%= post._id %>?_method=PUT" method="POST">
    <div>
      <input class="form-input" type="text" placeholder="Title" name="post[title]" value="<%= post.title %>">
    </div>
    <div>
      <input class="form-input" type="textarea" placeholder="Text" name="post[text]" value="<%= post.text %>">
    </div>
    <div>
      <input type="submit" name="Submit" value="Update">
    </div>
  </form>

<% include ../partials/footer %>
