<% include ../partials/header %>
<div>
  <!-- Post -->
  <div class="post">
    <div class="post-head">
      <span class="post-title"><%= post.title %></span>
      <span class="details">
        posted by <%= post.author.username %>
        in s/<%= post.sub.name %>
        <%= moment(post.createdAt).fromNow() %>
      </span>
    </div>
    <p class="post-text"><%= post.text %></p>
  </div>

  <!-- Comments-Section -->
  <div>
     <!-- Comment Form -->
     <% if(currentUser){ %>
      <form action="/s/<%= sub %>/posts/<%= post._id %>/comments/" method="post">
        <div>
          <div>
            <input class="form-input" type="text" name="comment[text]" placeholder="Enter Your Comment Here" required>
          </div>
        </div>
        <div>
          <div>
            <input class="btn" type="submit" name="submit" value="Submit">
          </div>
        </div>
      </form>
      <% } %>
    <!-- Comments list -->
    <h3><%= post.comments_count %> Comments:</h3>
      <div>
        <% post.comments.forEach(function(comment){ %>
          <%- include('../partials/comment', {sub: sub, post: post, comment: comment, moment: moment}) %>
        <% }) %>
      </div>
  </div>
</div>
<% include ../partials/footer %>
